# Binance Futures Testnet credentials
BINANCE_API_KEY=your_testnet_api_key_here
BINANCE_API_SECRET=your_testnet_api_secret_here
BINANCE_TESTNET=true
BINANCE_BASE_URL=https://testnet.binancefuture.com

# MongoDB
MONGODB_URL=mongodb://mongo:27017
MONGODB_DB=trading_bot

# App
APP_ENV=development
LOG_LEVEL=DEBUG
